.bg {
  background-image: url("/FairAssessor/images/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
}

/*search box css start here*/
.loading-sec,
.heading-sec,
.search-sec,
.results-sec{
    padding: 2rem;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading-sec{
  z-index: 100;
  background-color: rgba(0,0,0,.6);
}

#loading{
  min-height: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

#loading-sec.hidden,
#results-sec.hidden{
  display: none;
}

.heading-sec{
    top: 10%;
}

.heading-sec .text-block{
  background: rgba(26, 70, 104, 0.35);
  color: white
}

.search-sec{
  top: 40%;
}

.results-sec{
  top: 60%;
}

.results-sec .card{
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
}

#accordion{
  margin-bottom: 100px;
}

#acc-header{
  width: 100%;
}

#acc-header .badge{
    top: 0;
    font-size: 1rem;
}

.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

.clear {
	clear: both;
}

#json-generator-icon{
  margin-top:10px;
  margin-right:30px;
  color:white;
  float: right;
}

#json-generator-icon-wrapper{
  width: 100%;
  position: absolute;
  text-align: center;
  top: 1%;
}

@media (min-width: 992px){

}

@media (max-width: 992px){

}